.Crypto_Logo, .Crypto_Price, .Crypto_Name, .Crypto_UpDown, .Crypto_Up, .Crypto_Down, .Crypto_Flat
{
  display:inline;
}

.Crypto_Price,.Crypto_Name{
  font-family: "Roboto";
  font-weight: bold;
  font-size: 20px;
  margin-left: 2px;
}

.Crypto_Name{color: grey;
  font-weight: unset;
}

.Crypto_Logo{
  margin-bottom: 5px;
  width:25px; 
  height:25px
}

.Crypto_UpDown{
  color: #16c784;
}
.Crypto_Up{
  color: #16c784;
}
.Crypto_Down{
  color: #ea3943;
}
.Crypto_Flat{
  color: grey;
}